:root {
  --text-color-dark: #adabab;
  --text-color-light: #ffffff;
  --btn-text-color: #ffffff;
  --input-text-color: #ffffff;
  --bg-color-dark: #121212;
  --bg-color-medium: #212121;
  --bg-color-light: #363636;
  --bg-color-highlight: #1db954;
  --input-bg-color: #535353;
  --input-text-size: 1rem;
  --ff-body: Arial, Helvetica, sans-serif;
  --container-max-width: 50rem;
}
